// HEADER
.van {
    margin-left: 2em;
}
.margindelboton {
    margin-right: 5px;
}
// MAIN
.mainnn {
    margin-top: 1em;
}
.titprin {
    margin-left: 1em;
}
.asideycontent {
    margin-top: 1em;
}
.paddingentreparrafos {
    padding-bottom: 2em;
}
.paddingentreparrafos- {
    padding-top: 1em;
}
// FOOTER











@import "./node_modules/bootstrap/scss/bootstrap.scss";