//CSS index
.indx{
    padding-top: 20em;
    padding-bottom: 2em;
}
.cardd {
    margin: 10px;
}

.objftcv {
    object-fit: cover !important;
    //height: 200px;
    //width: 90px !important;
}


//GENERAL
body { 
    position: relative; 
}
// HEADER
.van { 
    margin-left: 2em; 
}
.margindelboton { 
    margin-right: 5px; 
}
// MAIN
.mainnn { 
    padding-top: 3.5em;
    width: 100%;
    height: 100%; 
}
.contit {
    padding: 1em;
    background-color: white;
    position: fixed;
    padding-bottom: 0.5em;
    z-index: 100;
}
.active {
    background-color: #fff !important;
    color: #0d6efd !important;
}
.asideycontent { 
    margin-top: 5em;
}
.pf { 
    position: fixed;
}
.ml { 
    margin-left: 25%;
    position: relative;
}
.ancl:before {
    display: block;
    content: " ";
    margin-top: -120px;
    height: 120px;
    visibility: hidden;
}
.paddingentreparrafos { 
    padding-bottom: 1em; 
}
.paddingentreparrafos- { 
    padding-top: 1em; 
}
.elimmargin { 
    margin: 0px; 
}
.marginfoto { 
    margin-bottom: 20px; 
    margin-left: 20px;
}
.marginfotoo { 
    margin-top: 80px; 
}

// FOOTER
footer { 
    font-size: small; color: rgba(255, 255, 255, 0.55);
    display: block;
    width: 100%;
    bottom: 0;
}
/*.fooindx{
    position: fixed;
}*/

.il { 
    margin: 5px;
}













@import "./node_modules/bootstrap/scss/bootstrap.scss";