// HEADER
.van {
    margin-left: 2em;
}
// MAIN
.mainnn {
    margin-top: 1em;
}
.titprin {
    margin-left: 2em;
}
.asideycontent {
    margin-top: 1em;
}
.paddingentreparrafos {
    padding-bottom: 1em;
}
// FOOTER











@import "./node_modules/bootstrap/scss/bootstrap.scss";